<button hx-get="{% url 'like_comment' comment.uuid %}"
        hx-swap="outerHTML"
        class="px-2">
        {% if user in comment.likes.all %}
            <div class="size-10 fill-rose-500">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M12 2.5L14.5 8.5L21 9.2L16 14L17.5 20.5L12 17L6.5 20.5L8 14L3 9.2L9.5 8.5L12 2.5Z"/>
                </svg>
            </div>
        {% else %}
            <div class="size-5 fill-neutral-500">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M12 2.5L14.5 8.5L21 9.2L16 14L17.5 20.5L12 17L6.5 20.5L8 14L3 9.2L9.5 8.5L12 2.5Z"/>
                </svg>
            </div>
        {% endif %}
        <div class="text-neutral-500 text-sm">
            {{ comment.likes.count }} 
        </div>
</button>